<div *ngIf="tweetsState.isFetching" style="display:flex; justify-content: center; align-items: center; height: 100%;">
    <ion-spinner></ion-spinner>
</div>
<ion-list>
    <ion-item *ngIf="!tweetsState.isFetching && !tweetsState.tweets.length">
        <h2>No tweets for your search criteria!</h2>
    </ion-item>

    <button ion-item *ngFor="let tweet of (tweetsState.tweets | search: filter:searchOnline) | sorttweets:sortBy" (click)="showDetail(tweet)">
        <ion-avatar item-start>
            <img src="{{tweet.user.profile_image_url_https}}">
        </ion-avatar>
        <h2>{{tweet.user.name}}</h2>
        <h3>{{ tweet.text }}</h3>
        <p><span *ngIf="tweet.retweet_count">RTs {{ tweet.retweet_count }}</span><span *ngIf="tweet.favorited">Favs {{ tweet.favorite_count }}</span></p>
    </button>
</ion-list>